.heading {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url('../images/pattern.jpeg');
}

.sub-heading {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.sub-heading.brushes {
    background-color: mediumspringgreen;
}

.sub-heading.frames {
    background-color: lightcoral;
}

.sub-heading.paint {
    background-color: skyblue;
}

main {
    font-family: Helvetica;
}

.blue {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}